<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Harvard Extension School Courses in CSCI and DGMD for Spring Term</title>
    <script src="scripts/coursesData.js" ></script>
    <!-- the coursesData.js script contains the course data
         and is available as a global variable 'coursesData'
        -->
        <!-- coursesData consists of a "courses" array,
        with each course in the array have properties of:
            "code",
            "title",
            "crn",
            "catalog_url",
            "meets",
            "instr",
            "term"
        -->
    <script>
        /* this is here just to show that coursesData.js loading
           provides the "coursesData" variable and data */
        console.log(coursesData);
    </script>
</head>
<body>
    
</body>
</html>